*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)), url('/hostinger.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header h1{
   margin: auto;
    color: #f2f2f2;
    
}

.right{
    border-right: 4px solid red;
    border-left: none!important;
}

.header h1 span{
    display:    block;
    align-self:center ;
    font-size: 3rem;
}

.container {
    width: 85%;
    margin: auto;
    overflow-x: hidden;
}

.container h1{
  text-align: center;
  margin: 20px;  
    text-transform: capitalize;
}

.row{
    padding: 30px;
    
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    
}

.row.show{
    transform: translateX(0);
}

p{
    font-size: 18px;
    line-height: 30px;
    flex-basis: 40%;
}

.col{
    flex-basis: 40%;
background-color: rgba(221, 212, 212, 0.8);
    text-align: center;    
    border-left: 5px solid red;
}



.img{
    margin: 2rem;
    background-color:rgba(0, 0, 0, 0.8); 
    width: 100%;
    align-self: center;
    overflow-x: hidden;
    height: 40vh; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/hostinger.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

@media(max-width: 500px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}